@charset "UTF-8";

/* --------------------------- HTML TAG STYLES --------------------------- */
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #1d1d1f;
    font-family: 'Manrope', sans-serif;;
	font-weight: 400;
}
section {
	padding: 50px 0 50px 0;
}
h1 {
	text-align: center;
	margin: 20px;
	padding: 0;
	font-weight: 800;
}
a:link {
	color: #0597F2;
}
a:visited {
	color: #0597F2;
}
a:hover {
	color: #0476D9;
	text-decoration: none;
}
iframe {
	border: solid 1px #4578DF;
	display: block;
	margin: 0 auto;
}

/* --------------------------- CONTAINER STYLES --------------------------- */
.container {
	display: flex; 
	flex-wrap: wrap;
	align-content: center;
	text-align: left;
}
.row {
	flex-direction: row;
}
.column {
	flex-direction: column;
}
.bulletless {
	list-style-type: none;
}
.center {
	justify-content: center;
	align-items: center;
	text-align: center;
}
.split {
	justify-content: space-between
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.transparent {
	background-color: transparent;
}

/* --------------------------- NAVIGATION BAR STYLES --------------------------- */ 
nav {
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: rgba(255, 255, 255, 1); 
	box-shadow: 0 0.275rem 0.75rem -0.0625rem rgb(11 15 25 / 6%), 0 0.125rem 0.4rem -0.0625rem rgb(11 15 25 / 3%);
}
nav #wrap {
	width: 70%;
}
nav.transparent {
	box-shadow: none;
	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 1));
}
nav.transparent #menu li a.button {
	color: #fff;
}
nav.transparent #menu .icon {
	color: #fff;
}
nav.transparent #dropdown li a.button {
	color: #fff;
}
nav.transparent #dropdown li a.button:hover {
	color: #fff;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav ul li, nav ul li a {
    display: block;
}
nav a.button {
	text-decoration: none;
	text-align: center;
}
nav #menu li a.button {
	color: #4578DF;
	font-weight: 600;
	font-size: 22px;
	padding: 18px;
	float: left;
}
nav #dropdown {
	align-content: flex-end;
	justify-content: flex-end;
}
nav #dropdown li {
	display: flex;
	flex-direction: row;
}
nav #dropdown li a.button {
	color: #0B0F19;
	font-weight: 500;
	font-size: 18px;
	padding: 20px;
	float: right;
}
nav #dropdown a.button:hover {
	color: #0B0F19;
}
nav #dropdown a.button::after {
	display: block;
    content: '';
    border-bottom: solid 2px #e5e5e8;
	border-radius: 2px;
	opacity: 0;
}
nav #dropdown a.button:hover:after {
	opacity: 1;
    transition: 0.5s opacity;
}
nav #dropdown a.button.active {
	color: #4578DF;
}
nav #dropdown a.button.active:hover:after {
	border-color: #4578DF;
}
nav #menu .icon {
	padding: 22px;
	display: none;
}

@media screen and (max-width: 910px) {
	nav {
		display: block !important;
	}
	nav #wrap {
		width: 100%;
	}
	nav #menu {
		width: 100%;
	}
	nav #menu .icon {
		color: #0B0F19;
		float: right;
		display: block;
 	}
	nav #menu a.button {
		padding: 18px;
	}
	nav #dropdown {
		display: block;
		width: 100%;
		height: 0;
		overflow: hidden;
		transition: all 0.4s ease-in-out;
	}
	nav #dropdown li a.button {
		display: block;
		float: left;
		text-align: left;
		padding: 9px 0 9px 18px;
	}
	nav #dropdown.responsive {
		display: block;
		width: 100%;
		height: 180px;
	}
	nav #dropdown.responsive li {
		width: 100%;
	}
	nav #dropdown.responsive li a.button {
		width: 100%;
	}
	nav #dropdown a.button::after {
		border-style: none;
	}
}

/* --------------------------- SPLASH SECTION STYLES --------------------------- */
#splash {
	padding: 0;
	width: 100%;
	color: #fff;
	height: 100vh;
}
#splash:after {
	content: "";
	position: fixed; /* allows for a fixed splash on iOS devices */
	top: 0;
	height: 100vh;
	left: 0;
	right: 0;
	z-index: -1;
	background: url(../images/mountain.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: brightness(70%);
}
#splash h1 {
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
	font-size: 80px; 	
	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 1));
}
#splash #message span {
	font-size: 20px;
	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 1));
}
#splash #socials {
	padding-top: 50px;
	width: 250px;
}
#splash #socials svg {
	padding: 12px;
	font-size: 24px;
}
#splash #socials a {
	border: 2px solid rgba(255, 255, 255, 0.08);
	border-radius: 8px;
	width: 48px;
	height: 48px;
	transition: background-color 0.5s ease;
}
#splash #socials a:link {
	color: #fff;
}
#splash #socials a:visited {
	color: #fff;
}
#splash #socials a:hover {
	background-color: #0476D9;
}

/* --------------------------- ABOUT SECTION STYLES --------------------------- */
#about {
	background-color: #fff;
}
#about #info img {
	width: 250px;
	border: 10px solid #FAFAFA;
	border-radius: 50%;
	box-shadow: 0 0.275rem 0.75rem -0.0625rem rgb(11 15 25 / 6%), 0 0.125rem 0.4rem -0.0625rem rgb(11 15 25 / 3%);
}
#about #info p {
	font-size: 18px;
	padding: 0 40px;
	max-width: 350px;
	width: 70%;
	margin: auto 0;
}
#about #documents {
	max-width: 425px;
	width: 80%;
	padding-top: 40px;
	margin-bottom: 20px;
	font-size: 24px;
}
#about #documents svg {
	margin-right: 5px;
}
#about #documents a {
	font-size: 24px;
	font-weight: 500;
	padding: 10px;
	text-decoration: none;
	color: #1d1d1f;
	background-color: #fff;
	border: 1px solid #0476D9;
	border-radius: 4px;
	transition: background-color 0.5s ease, color 0.5s ease;
}
#about #documents a:link {
	color: #1d1d1f;
}
#about #documents a:visited {
	color: #1d1d1f;
}
#about #documents a:hover {
	background-color: #0476D9;
	color: #fff;
}

@media screen and (max-width: 600px) {
	#about #info p  {
		text-align: center;
		padding-top: 40px;
	}

}
/* --------------------------- EDUCATION SECTION STYLES --------------------------- */
#education {
	background-color: #FAFAFA;
	color: #212529;
}
#education #university img {
	float: left;
	margin: auto 0;
	padding: 0 30px 0 0;
	width: 100px;
	height: 100px;
}
#education #university h2, h3, h4 {
	margin: 0;
	padding: 0;
}
#education #university h5 {
	margin: 0;
	padding: 15px 0 0 0;
	font-weight: normal;
	font-style: italic;
}
#education #coursework {
	margin-bottom: 20px;
}
#education #coursework h2, h3 {
	text-align: left;
	padding: 0 0 0 0;
}
#education #coursework ul {
	padding-left: 50px;
}

@media screen and (max-width: 600px) {
	#education div  {
		width: 85%;
	}
	#education #university img, div, h2, h3, h4, h5 {
		justify-content: center;
		text-align: center;
		padding: 0 0 0 0;
	}
	#education #coursework h2 {
		text-align: center;
	}
	#education #coursework h3 {
		margin: 0 0 0 20px;
		text-align: left;
	}
	#education #coursework ul {
		padding: 0 20px 0 40px;
		width: 90%;
	}
}

/* --------------------------- SKILLS SECTION STYLES --------------------------- */
#skills {
	background-color: #fff;
}
#skills div {
	width: 100%;
	max-width: 800px;
	margin-bottom: 20px;
}
#skills li {
	transition: 0.3s;
	margin: 16px;
	font-weight: 600;
}
#skills li:hover {
	transform: scale(1.2);
}
#skills img {
	margin: 10px;
	width: 100px;
	filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 1));
}

@media screen and (max-width: 600px) {
	#skills li {
		width: 30%;
		margin: 20px;
	}
	#skills img {
		margin: 16px;
	}
}

/* --------------------------- PROJECTS SECTION STYLES --------------------------- */
#projects {
	background-color: #FAFAFA;
}	
#projects div .container {
	width: 100%;
	max-width: 1250px;
}
#projects li {
	margin: 50px;
}
#projects li:hover img {
	filter: blur(1px) brightness(50%);
}
#projects li:hover .description {
	visibility: visible;
	opacity: 1;
}
#projects img {
	transition: 0.3s;
	border-radius: 10px;
	width: 300px;
	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 1));
}
#projects .description {
	transition: opacity 0.3s, visibility 0.3s;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	visibility: hidden;
	opacity: 0;
	color: #fff;
}

@media screen and (max-width: 600px) {
	#projects li {
		margin: 0 0 40px 0;
	}
	#projects img {
		width: 300px;
	}
}

/* --------------------------- FOOTER STYLES --------------------------- */
footer {
	padding: 40px 0 40px 0;
	background-color: #EFEFEF;
	text-align: center;	
}
footer p {
	font-size: 12px;
	margin: 10px 0;
}
footer #socials a {
	border: 2px solid rgba(255, 255, 255, 0.08);
	border-radius: 4px;
	transition: color 0.5s ease;
}
footer #socials svg {
	margin: 0 10px 0 10px;
}
footer #socials a:link {
	color: #1d1d1f;
}
footer #socials a:visited {
	color: #1d1d1f;
}
footer #socials a:hover {
	color: #0476D9;
}