@charset "UTF-8";

/* --------------------------- HTML TAG STYLES --------------------------- */
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #FAFAFA;
	color: #1d1d1f;
    font-family: 'Manrope', sans-serif;;
	font-weight: 400;
}
section {
	padding: 50px 0 50px 0;
}
p {
	font-size: 14px;
	margin-bottom: 20px;
	line-height: 1.5em;
}
h1 {
	text-align: center;
	margin: 20px;
	padding: 0;
	font-weight: 800;
}
a:link {
	color: #0597F2;
}
a:visited {
	color: #0597F2;
}
a:hover {
	color: #0476D9;
	text-decoration: none;
}
iframe {
	border: solid 1px #4578DF;
	display: block;
	margin: 0 auto;
}

/* --------------------------- CONTAINER STYLES --------------------------- */
.container {
	display: flex; 
	flex-wrap: wrap;
	align-content: center;
	text-align: left;
}
.row {
	flex-direction: row;
}
.column {
	flex-direction: column;
}
.bulletless {
	list-style-type: none;
}
.center {
	justify-content: center;
	align-items: center;
	text-align: center;
}
.split {
	justify-content: space-between
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.transparent {
	background-color: transparent;
}

/* --------------------------- NAVIGATION BAR STYLES --------------------------- */ 
nav {
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: rgba(255, 255, 255, 1); 
	box-shadow: 0 0.275rem 0.75rem -0.0625rem rgb(11 15 25 / 6%), 0 0.125rem 0.4rem -0.0625rem rgb(11 15 25 / 3%);
}
nav.transparent {
	text-shadow: 2px 2px #0B0F19;
	box-shadow: none;
}
nav.transparent #menu li a.button {
	color: #fff;
}
nav.transparent #menu .icon {
	color: #fff;
}
nav.transparent #dropdown li a.button {
	color: #fff;
}
nav.transparent #dropdown li a.button:hover {
	color: #fff;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav ul li, nav ul li a {
    display: block;
}
nav a.button {
	text-decoration: none;
	text-align: center;
}
nav #menu li a.button {
	color: #4578DF;
	font-weight: 600;
	font-size: 22px;
	padding: 18px;
	float: left;
}
nav #dropdown {
	align-content: flex-end;
	justify-content: flex-end;
}
nav #dropdown li {
	display: flex;
	flex-direction: row;
}
nav #dropdown li a.button {
	color: #0B0F19;
	font-weight: 500;
	font-size: 18px;
	padding: 20px;
	float: right;
}
nav #dropdown a.button:hover {
	color: #0B0F19;
}
nav #dropdown a.button::after {
	display: block;
    content: '';
    border-bottom: solid 2px #e5e5e8;
	border-radius: 2px;
	opacity: 0;
}
nav #dropdown a.button:hover:after {
	opacity: 1;
    transition: 0.5s opacity;
}
nav #dropdown a.button.active {
	color: #4578DF;
}
nav #dropdown a.button.active:hover:after {
	border-color: #4578DF;
}
nav #menu .icon {
	padding: 22px;
	display: none;
}

@media screen and (max-width: 600px) {
	nav {
		display: block !important;
	}
	nav #menu .icon {
		color: #0B0F19;
		float: right;
		display: block;
 	}
	nav #menu a.button {
		padding: 18px;
	}
	nav #dropdown {
		display: block;
		width: 100%;
		height: 0;
		overflow: hidden;
		transition: all .4s ease-in-out;
	}
	nav #dropdown li a.button {
		display: block;
		float: left;
		text-align: left;
		padding: 9px 0 9px 18px;
	}
	nav #dropdown.responsive {
		display: block;
		width: 100%;
		height: 168px;
	}
	nav #dropdown.responsive li {
		width: 100%;
	}
	nav #dropdown.responsive li a.button {
		width: 100%;
	}
	nav #dropdown a.button::after {
		border-style: none;
	}
}

/* --------------------------- SPLASH SECTION STYLES --------------------------- */
#splash {
	padding: 0;
	width: 100%;
	color: #fff;
	height: 100vh;
	background: url(../images/mountain.jpg) no-repeat center top fixed;
	background-size: cover;
}
#splash h1 {
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
	font-size: 80px; 	
	text-shadow: 3px 3px #000;
}
#splash #message {
	padding-top: 20px;
	font-size: 20px;
	text-shadow: 2px 2px #000;
}

@media screen and (max-width: 600px) {
	#splash {
		background-attachment: scroll;
	}
}
/* --------------------------- ABOUT SECTION STYLES --------------------------- */
#about {
	background-color: #fff;
}

/* --------------------------- EDUCATION SECTION STYLES --------------------------- */
#education {
	color: #212529;
}
#education #university img {
	float: left;
	margin: auto 0;
	padding: 0 30px 0 0;
	width: 100px;
}
#education #university h2, h3, h4 {
	margin: 0;
	padding: 0;
}
#education #university h5 {
	margin: 0;
	padding: 15px 0 0 0;
}
#education #university h5 {
	font-weight: normal;
	font-style: italic;
}
#education #coursework h2, h3 {
	text-align: left;
	padding: 0 0 0 0;
}
#education #coursework ul {
	padding-left: 50px;
}

@media screen and (max-width: 600px) {
	#education div  {
		width: 95%;
	}
	#education #university img, div, h2, h3, h4 {
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 0 0 0 0 !important;
	}
	#education #coursework ul {
		justify-content: left;
		align-items: left;
		padding: 0 0 0 30px;
		width: 90%;
	}
}

/* --------------------------- SKILLS SECTION STYLES --------------------------- */
#skills {
	background-color: #fff;
}
#skills div {
	width: 100%;
	max-width: 800px;
}
#skills li {
	transition: 0.3s;
	margin: 16px;
	font-weight: 600;
}
#skills li:hover {
	transform: scale(1.2);
}
#skills img {
	margin: 10px;
	width: 100px;
}

@media screen and (max-width: 600px) {
	#skills li {
		width: 30%;
		margin: 20px;
	}
	#skills img {
		margin: 16px;
	}
}

/* --------------------------- PROJECTS SECTION STYLES --------------------------- */
#projects div .container {
	width: 100%;
	max-width: 1250px;
}
#projects li {
	margin: 50px;
}
#projects li:hover img {
	filter: blur(1px) brightness(50%);
}
#projects li:hover .description {
	visibility: visible;
	opacity: 1;
}
#projects img {
	transition: 0.3s;
	border-radius: 10px;
	width: 300px;
}
#projects .description {
	transition: opacity 0.3s, visibility 0.3s;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	visibility: hidden;
	opacity: 0;
}

@media screen and (max-width: 600px) {
	#projects li {
		margin: 0 0 40px 0;
	}
	#projects img {
		width: 300px;
	}
}

/* --------------------------- FOOTER STYLES --------------------------- */
footer {
	padding: 40px 0 40px 0;
	background-color: #EFEFEF;
	text-align: center;	
}
footer p {
	font-size: 12px;
	margin: 10px 0;
}
footer #socials svg {
	margin: 0 10px 0 10px;
}